footer {
  background-color: var(--white);
  color: var(--text-black);
  padding: 15px 0;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer .content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.content .logo img {
  display: inline-block;
  width: 120px;
}

footer .content table th {
  font-family: var(--font-header);
  font-size: 1rem;
  text-align: left;
  word-break: keep-all;
  text-wrap: nowrap;
}

footer .content table th:first-of-type {
 padding-right: 20px;
}

footer .content table td {
  font-family: var(--font-text);
  font-size: 0.8rem;
  text-align: left;
  vertical-align: top;
}

@media screen and (max-width: 649px) {
  footer .content {
    flex-direction: column;
    gap: 10px;
  }
}
