header {
  background-color: var(--white);
  color: var(--text-black);
  font-family: var(--font-header);
  padding: 15px 0;
  height: clamp(40px, 10vw, 50px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header > .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header ul {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 20px;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  margin: 0;
}

@media screen and (max-width: 440px) {
  header ul {
    column-gap: 10px;
  }
}

header ul li a {
  color: var(--text-black);
  text-decoration: none;
  text-wrap: nowrap;
}

header ul li a:hover {
  color: var(--orange);
}

.logo {
  display: inline-block;
  height: clamp(30px, 5vw, 100%);
}

.logo a {
  display: inline-block;
  height: 100%;
}

.logo img {
  height: 100%;
}
