header {
  background-color: var(--white);
  color: var(--text-black);
  font-family: var(--font-header);
  padding: 15px 0;
}

header > .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  font-size: clamp(1rem, 2.5vw, 1.5rem);;
}

header ul li a {
  color: var(--text-black);
  text-decoration: none;
}

header ul li a:hover {
  color: var(--orange);
}

.logo {
  display: inline-block;
  height: 50px;
}

.logo a {
  display: inline-block;
  height: inherit;
}

.logo img {
  height: inherit;
}
