.info {
  font-family: var(--font-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.info h3 {
  font-family: var(--font-header);
  font-size: clamp(1.5rem, 2.5vw, 3rem);
  margin-bottom: 0.5rem;
}

.info p {
  font-size: clamp(1rem, 2vw, 2.25rem);
  line-height: 140%;
  margin: 0;
  text-align: justify;
}
