* {
  margin: 0;
}

.personal {
  display: flex;
  gap: 30px;
  margin-block: 50px 0px;
}

.photo img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

h1,
h2,
h3 {
  font-family: var(--font-header);
  color: var(--text-black);
}

h1 {
  font-size: 3rem;
  margin-top: 1.5em;
  margin-block: 2em 0.25em;
}

h2 {
  font-size: 2.25rem;
  margin-block: 0 0.25em;
}

h3:not(div > h3) {
  margin-block: 0em 0.5em;
}

.photo {
  aspect-ratio: 1/1;
  height: auto;
  background-image: url("/public/splash.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

p {
  font-family: var(--font-text);
  color: var(--text-black);
  line-height: 1.5;
  text-align: justify;
}

.member {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.member ul {
  list-style: none;
  padding: 0;
}

.member ul > li:not(:first-of-type) {
  position: relative;
  padding-inline: 1em;
  margin-bottom: 0.5em;
  padding-left: 2rem;
  font-family: var(--font-text);
}

.member ul > li:not(:first-of-type)::before {
  content: url("/public/bullet-arrow.svg");
  position: absolute;
  width: 1em;
  left: 0;
  top: 0;
}

.member ul > li:first-of-type {
  padding-inline: 0;
}

.lists {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

@media screen and (max-width: 1024px) {
  .lists {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 649px) {
  h1 {
    font-size: 1.75em;
  }

  .personal {
    flex-direction: column; 
    align-items: center;
    text-align: center;
  }

  h2 {
    font-size: 1.5em;
    margin-block: 1em 0.25em;
  }

  p {
    font-size: 14px;
    /* padding-inline: 2rem; */
  }

  li {
    font-size: 14px;
  }
}
