@import url("/css/fonts.css");

:root {
  --text-black: #121518;
  --background-white: #f0f8ff;
  --white: #fff;
  --orange: #f28c1b;
  --font-header: "Signika", sans-serif;
  --font-text: "Inter", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-white);
  max-width: 2048px;
  margin-inline: auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 649px) {
  .wrapper {
    width: 90%;
  }
}
