.title {
  display: flex;
}

@media screen and (max-width: 600px) {
  .title {
    flex-direction: column;
  }

  .title .img img {
    margin: 0 auto;
    height: 300px;
  }

  .button {
    align-items: center;
  }

  #arrow {
    rotate: 260deg;
    margin-right: 190px;
  }
}

.text {
  font-family: var(--font-header);
  font-size: clamp(1rem, 2.5vw, 2.25rem);
}

.title .text h1 {
  font-weight: 900;
  margin: 3rem 0 1rem;
  text-transform: uppercase;
  text-wrap: nowrap;
}

#krouzek-parent {
  position: relative;
}

#krouzek {
  position: absolute;
  width: 125%;
  bottom: -40%;
  right: -13%;
  rotate: 4deg;
}

.title .text h3 {
  font-weight: 500;
  margin: 0;
}

.title .img {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.title .img img {
  width: 80%;
  padding-top: 3rem;
}

@media screen and (max-width: 700px) {
  .title .img img {
    padding-top: 2rem;
  }
}

.button {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  gap: clamp(5px, 1vw, 10px);
}

#arrow {
  height: clamp(60px, 10vw, 120px);
}

#button {
  display: block;
  text-decoration: none;
  color: var(--text-black);
  background-color: var(--orange);
  padding: 0.85rem 2rem;
  border-radius: 6px;
  width: fit-content;
}

#button:hover {
  color: var(--white);
}
